application {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;

  > main {
    flex-grow: 1;
    overflow: auto;
    position: relative;
  }
}

@media (min-width: $medium-display) {
  .ias-nav #componentsSideNavToggle {
    display: none;
  }
}