panel-documentation {
  .ias-panel {
    max-width: 300px;
  }
}

.dash-attributes {
  text-align: left;
}

.label-medium {
  padding-right: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.label-large-dark {
  color: #434c50;
  font-size: 14px;
  white-space: nowrap;
  padding-right: 5px;
}

.divider {
  margin-top: 6px;
  margin-bottom: 6px;
  border-top: 1px solid #dae1e1;
}

.ias-panel-data {
  display: inline-block;
  padding-right: 5px;
  min-width: 90px;
}

.panel-data-label {
  color: #434c50;
  font-size: 14px;
  white-space: nowrap;
  padding-right: 0;
}

.ias-panel-data .panel-data {
  display: inline-block;
  font-size: 42px;
  color: #007cd0;
  vertical-align: middle;
}

.panel-data {
  a {
    text-decoration: none;
    color: #007cd0;
    padding: 2px;
    display: inline-block;
    border-radius: 2px;
    font-size: 32px;
  }
  .expiring {
    color: darkorange;
  }
}

[dir="rtl"] {
  .toggle-show > .show-code {
    text-align: left;
  }
}