.dual-column-title {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  display: block;
}
.dual-column-one {
  border-radius: 2px;
  background-clip: padding-box;
  border: dashed 2px #808080 ;
  padding: 10px;
  background-color: #fff;
  //float: left;
  width: 300px;
}

.column-group {
  display: inline-block;
}

.column-tile {
 margin-bottom: 5px;
}

.dual-one {
  display: inline-block;
  margin-right: 40px;
}
.dual-two {
  display: inline-block;
}

.dual-column-two {
  border-radius: 2px;
  background-clip: padding-box;
  border: 2px solid #808080;
  padding: 10px;
  background-color: #fff;
  width: 300px;
}

.dual-column-two-body {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 320px;
  overflow-y: auto;
}

.dual-column-list-one {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 320px;
  overflow-y: auto;
}

.dual-column-list-two {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 320px;
  overflow-y: auto;
}

.list-item-disabled {
  background-color: #f6f9f8;
  border: solid 1px #f6f9f8;
  cursor: no-drop;
  text-decoration: none;
  color: #9DABAC;
  border-radius: 3px;
  background-clip: padding-box;
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding: 8px;
  overflow: hidden;
}

.list-item-one {
  border-radius: 3px;
  background-clip: padding-box;
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #eef2f2;
  border: solid 1px transparent;
  overflow: hidden;
  color: #434c50;
  button {
    padding: 0em;
    min-width: 12px;
    background-color: transparent;
    border: 1px solid transparent;
  }
  .button-one {
    font-size: 20px;
    position: absolute;
    right: 40px;
    top: 5px;
    color: transparent;
    vertical-align: middle;
  }
  .button-two {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: transparent;
  }
}

.list-item-one:hover {
  background-color: #f6f9f8;
  border: solid 1px #01a9e7;
  cursor: move;
  text-decoration: none;
  .icon-one {
    color: #434c50;
    .button-two {
      background-color: #f6f9f8;
      border: 1px solid #dae1e1;
      border-radius: 3px;
      color: #434c50;
    }
  }
  .icon-two {
    color: #434c50;
    .button-one {
      background-color: #f6f9f8;
      border: 1px solid #dae1e1;
      border-radius: 3px;
      color: #434c50;
    }
  }
}

.button-one:hover {
  .ias-icon {
    color: #0090da;
  }
}

.button-two:hover {
  .ias-icon {
    color: #0090da;
  }
}

.list-item-two {
  border-radius: 3px;
  background-clip: padding-box;
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #eef2f2;
  border: solid 1px transparent;
  overflow: hidden;
  color: #434c50;
  button {
    padding: 0em;
    min-width: 12px;
    background-color: transparent;
    border: 1px solid transparent;
  }
  .button-three {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: transparent;
    vertical-align: middle;
  }
}

.list-item-two:hover {
  background-color: #f6f9f8;
  border: solid 1px #01a9e7;
  cursor: pointer;
  text-decoration: none;
  .ias-icon {
    color: #434c50;
    .button-three {
      background-color: #f6f9f8;
      border: 1px solid #dae1e1;
      border-radius: 3px;
      color: #0090da;
      .ias-icon {
        color: #0090da;
      }
    }
  }
}

.button-three:hover {
  .ias-icon {
    color: #0090da;
  }
}