.dual-column-title {
  color: #434c50;
  font-size: 14px;
  font-weight: 400;
  display: block;
}
.dual-column-one {
  border-radius: 2px;
  background-clip: padding-box;
  border: dashed 2px gray;
  padding: 8px;
  background-color: #fff;
  //float: left;
  width: 250px;
}

.dual-one {
  float: left;
  margin-right: 40px;
}
.dual-two {
  float: left;
}

.dual-column-two {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 3px;
  width: 267px;
  float: left;
}

.dual-column-two-body {
  padding: 4px 8px;
  margin-bottom: 11.5px;
}

.dual-column-list-one {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 320px;
  overflow-y: auto;
}

.dual-column-list-two {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 320px;
  overflow-y: auto;
}

.list-item-disabled {
  background-color: #f6f9f8;
  border: solid 1px #f6f9f8;
  cursor: no-drop;
  text-decoration: none;
  color: #9DABAC;
  border-radius: 3px;
  background-clip: padding-box;
  position: relative;
  display: block;
  margin-bottom: 4px;
  padding: 8px;
  overflow: hidden;
}

.list-item-one {
  border-radius: 3px;
  background-clip: padding-box;
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: 4px;
  padding: 8px;
  background-color: #eef2f2;
  border: solid 1px transparent;
  overflow: hidden;
  color: #434c50;
}

.list-item-one:hover {
  background-color: #f6f9f8;
  border: solid 1px #01a9e7;
  cursor: pointer;
  text-decoration: none;
}

.list-item-two {
  border-radius: 3px;
  background-clip: padding-box;
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: 4px;
  padding: 8px;
  background-color: #eef2f2;
  border: solid 1px transparent;
  overflow: hidden;
  color: #434c50;
}

.list-item-two:hover {
  background-color: #f6f9f8;
  border: solid 1px #01a9e7;
  cursor: pointer;
  text-decoration: none;
}