

ias-header > .ias-header-sub-title > span{
  color: #6a6f71;
  font-size: 15px;
}
h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 0 15px;
}

h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #434c50;
  font-size: 21px;
  line-height: 1.2em;
  margin: 15px 0 15px;
  font-weight: normal;
}

h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  color: #434c50;
  font-size: 18px;
  line-height: 1.2em;
  margin: 10px 0 15px;
}

h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #575b5d;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 10px 0 5px;
}