ias-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

ias-header > .ias-header-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  padding-right: 10px;
}

ias-header > .ias-icon-button {
  margin-left: 10px;
}

ias-header > .ias-header-sub-title {
  color: #6a6f71;
  flex: 0 0 100%;
  font-size: 15px;
  order: 1;
}

ias-header > .ias-fill {
  flex-grow: 1;
  flex-basis: 0;
}

.header-ias-search ias-search-box {
  vertical-align: middle;
}

ias-search-box {
  display: inline-block;
}

#input_container {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: transparent;
}

#input {
  margin: 0;
  padding-left: 34px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #dae1e1;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 250px;
}

#input_img {
  position: absolute;
  bottom: 6px;
  left: 5px;
  padding-right: 6px;
}

#input_search_button {
  position: absolute;
  right: 5px;
  bottom: 4px;
}

.demo-section{
  margin-bottom: 12px;
  width: 100%;
}

.ias-button.ias-icon-button {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.ias-button:last-of-type {
  margin-right: 0;
}

.ias-button.ias-icon-button ias-icon {
  display: block;
}

h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 0 15px;
}

h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #434c50;
  font-size: 21px;
  line-height: 1.2em;
  margin: 15px 0 15px;
  font-weight: normal;
}

h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  color: #434c50;
  font-size: 18px;
  line-height: 1.2em;
  margin: 10px 0 15px;
}

h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #575b5d;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 10px 0 5px;
}

#input {
  margin: 0;
  padding-left: 34px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #dae1e1;
  padding-top: 8px;
  padding-bottom: 8px;
}

#input_img {
  position: absolute;
  bottom: 6px;
  left: 5px;
  padding-right: 6px;
}

.ias-input-container {
  position: relative;
  padding-top: 8px;
}

.ias-button {
  display: inline-block;
}

[dir="rtl"] {
  ias-header > .ias-header-title {
    padding-right: 0;
    padding-left: 10px;
  }
  #input {
    padding-right: 34px;
    padding-left: 8px;
  }
  #input_img {
    left: auto;
    right: 5px;
    padding-right: 0;
    padding-left: 6px;
  }
  #input_search_button {
    right: auto;
    left: 5px;
  }
  ias-header > .ias-icon-button {
    margin-right: 10px;
    margin-left: 0;
  }
}