@import './components/application/application.component';
@import './components/components/components.component';
@import './components/kitchen-sink/kitchen-sink.component';

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body > [ui-view] {
    height: 100%;
    width: 100%;
}

p {
	max-width: 700px;
}
