components {
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  width: 100%; }
  components > .ias-side-nav {
    flex: none; }
  components > .components-body {
    flex-grow: 1;
    height: 100%;
    overflow: auto; }
