components {
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  > .ias-side-nav {
    flex: none;
  }

  > .components-body {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
  }
}