button[disabled]:focus {
  outline: none;
}
.ias-button.ias-disabled {
  outline: none;
}
button.special-button:not([disabled]):not(.ias-disabled):hover {
  background-color: #01a9e7;
  color: #f6f9f8;
}
.special-button {
  background-color: #434c50;
  border-color: #434c50;
  color: #f6f9f8;
}
button[disabled] {
  background-color: #f6f9f8;
  border: 1px solid #dae1e1;
  color: #434c50;
  opacity: .4;
}
.ias-button.ias-disabled {
  background-color: #f6f9f8;
  border: 1px solid #dae1e1;
  color: #434c50;
  opacity: .4;
}
button.special-button[disabled] {
    background-color: #434c50;
    border-color: #434c50;
    color: #f6f9f8;
    opacity: .4;

 }