comment-documentation {
  section {
    .ias-comment {
      max-width: 535px;
    }
  }

  .ias-icon-comment_user_thin {
    color: #007cd0;
  }

  .section-with-menus {
    margin-bottom: 50px;
  }

  .ias-menu {
    display: inline-block;
    position: relative;
  }
}
