// Note: These variables are overridden by _common.scss: make sure none here are declared there.

// COLORS
$color-white-1: #fff;
$color-black-1: #000;
$color-black-2: #1f1f1f;

$color-gray-1: #f6f9f8;
$color-gray-2: #eef2f2;
$color-gray-3: #dae1e1;
$color-gray-4: #808080;
$color-gray-5: #6a6f71;
$color-gray-6: #575b5d;
$color-gray-7: #434c50;
$color-gray-8: #2c2c2c;

$color-primary-1: #0067ad;
$color-primary-2: #007cd0;
$color-primary-3: #0090da;
$color-primary-4: #01a9e7;
$color-primary-5: #29ceff;

$color-accent-1: #ffd92d;
$color-accent-2: #fff6ce;
$color-accent-3: #f17e12;
$color-accent-4: #e50000;
$color-accent-5: #37c26a;
$color-accent-6: #e4f9ff;

// COLOR PALETTE
$body-bg-color: $color-gray-8;

// TYPOGRAPHY
$text-color-disabled: $color-gray-4;

$title-text-color: $color-gray-3;

// COMPONENTS
$app-bar-text-color: $color-gray-1;

$dialog-scrim-color: rgba(106, 111, 113, .8);
$dialog-content-color: $color-gray-8;

$link-bg-color-hover: $color-gray-7;

$list-item-bg-color-hover: $color-gray-7;

$list-header-text-color: #b8b8b8;

$menu-bg-color: $color-gray-7;
$menu-bg-color-hover: $color-gray-6;
$menu-border-color: $color-gray-6;
$menu-text-color: $color-gray-1;

$side-nav-bg-color: $menu-bg-color;
$side-nav-bg-color-hover: $menu-bg-color-hover;
$side-nav-header-text-color: $list-header-text-color;

$status-message-body-text-color: $color-gray-3;

$table-row-bg-color-hover: $color-gray-7;

$tag-bg-color: $color-gray-7;
$tag-bg-color-hover: $color-gray-7;
$tag-border-color-hover: $color-primary-4;
$tag-text-color: white;
$tag-text-color-hover: $color-primary-2;
$tag-action-bg-color-hover: $color-gray-7;
$tag-action-border-color-hover: $color-primary-4;

$tabset-bottom-border-color: $color-gray-4;
$tabset-tab-bg-color-selected: $color-gray-8;
