// BORDERS
$border-radius: 3px;
$border-radius-small: 2px;

// COLORS
$color-white-1: #fff;
$color-black-1: #000;
$color-black-2: #1f1f1f;

$color-gray-1: #434c50;
$color-gray-2: #575b5d;
$color-gray-3: #6a6f71;
$color-gray-4: #808080;
$color-gray-5: #dae1e1;
$color-gray-6: #eef2f2;
$color-gray-7: #f6f9f8;

$color-primary-1: #0061bd;
$color-primary-2: #007cd0;
$color-primary-3: #0090da;
$color-primary-4: #01a9e7;
$color-primary-5: #29ceff;

$color-accent-1: #ffd92d;
$color-accent-2: #fff6ce;
$color-accent-3: #f17e12;
$color-accent-4: #e50000;
$color-accent-5: #37c26a;

// Font size variants
$font-size-xsmall: 11px;
$font-size-small: 13px;
$font-size-base: 15px;
$font-size-medium: 18px;
$font-size-large: 21px;
$font-size-xlarge: 24px;

// PAGE
$body-bg-color: $color-white-1;

// TYPOGRAPHY
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: $font-size-base;
$font-weight: 400;
$font-weight-medium: 500;

$heading-text-color: inherit;
$heading-font-size: $font-size-xlarge;
$heading-font-weight: 200;
$heading-letter-spacing: 1px;

$text-color: $color-gray-1;
$text-color-disabled: $color-gray-5;

$title-text-color: $color-gray-4;
$title-font-size: $font-size-base;
$title-font-weight: normal;
$title-text-transform: uppercase;

// DISPLAY SIZE
$large-display: 769px;

// SPACING
$body-spacing-xsmall: 5px;
$body-spacing-small: 10px;
$body-spacing-medium: 15px;
$body-spacing-large: 25px;
$content-padding: 25px;
$spacing: 10px;

// STATES
$disabled-bg-color: $color-gray-6;
$disabled-border-color: $color-gray-5;
$disabled-text-color: $color-gray-5;

$focus-bg-color: $body-bg-color;
$focus-border-color: $color-primary-4;
$focus-text-color: $color-gray-1;

// COMPONENTS
$app-bar-action-color: rgba(67,76,80,.3);
$app-bar-bg-fallback: $color-primary-2;
$app-bar-bg: linear-gradient(to right, $color-primary-4, $color-primary-2);
$app-bar-bg-rtl: linear-gradient(to left, $color-primary-4, $color-primary-2);
$app-bar-button-padding: 5px;
$app-bar-button-spacing: $spacing;
$app-bar-font-size: $font-size-small;
$app-bar-height-small: 45px;
$app-bar-height-large: 100px;
$app-bar-icon-size: 20px;
$app-bar-padding: $body-spacing-small;
$app-bar-padding-large: $body-spacing-large;
$app-bar-text-color: $color-gray-7;
$app-bar-text-spacing: $body-spacing-large;
$app-bar-text-button-spacing: $spacing;

$border-color: $color-gray-5;

$button-bg-color: $color-gray-7;
$button-bg-color-disabled: $button-bg-color;
$button-bg-color-hover: $button-bg-color;
$button-border-color: $color-gray-5;
$button-border-color-disabled: $text-color-disabled;
$button-border-color-hover: $color-primary-4;
$button-border-width: 1px;
$button-cta-bg-color: $color-gray-1;
$button-cta-color: $color-gray-7;
$button-font-size: $font-size;
$button-inline-icon-size: 25px;
$button-inline-icon-padding: .5em;
$button-inline-icon-padding-with-icon: .25em;
$button-min-width: 42px;
$button-padding: .45em .75em;
$button-padding-with-icon: .2em .75em;
$button-text-color: $text-color;
$button-text-color-disabled: $button-border-color-disabled;
$button-text-color-hover: $color-primary-2;
$button-text-transform: none;

$dialog-bg-color: $color-white-1;
$dialog-label-color: $color-gray-4;
$dialog-padding: 20px;
$dialog-scrim-color: rgba(128, 128, 128, .7);
$dialog-content-color: $color-black-2;

$icon-size-small: 25px;
$icon-size-medium: 50px;
$icon-size-large: 75px;

$input-bg-color: $body-bg-color;
$input-border: 1px solid $color-gray-5;
$input-inline-label-padding: 5px;
$input-label-font-size: $font-size-small;
$input-label-margin: 10px 0 3px;
$input-label-text-color: $color-gray-4;
$input-padding: 8px;

$link-bg-color-hover: $color-gray-6;
$link-padding: 0.15em;
$link-spacing: 0.5em;
$link-text-color: $color-primary-3;
$link-text-color-hover: $color-primary-1;
$link-text-color-no-highlight: $color-gray-4;

$list-item-bg-color-hover: $color-gray-6;
$list-item-height: 26px;
$list-item-avatar-size: 26px;

$list-header-text-color: $color-gray-4;
$list-header-font-size: 12px;
$list-header-margin: $spacing 0;
$list-header-font-weight: normal;
$list-header-text-transform: uppercase;

$menu-bg-color: $color-gray-1;
$menu-bg-color-hover: $color-gray-3;
$menu-border-color: $color-gray-2;
$menu-content-font-size: $font-size;
$menu-header-font-size: 12px;
$menu-header-font-weight: normal;
$menu-header-text-color: #b8b8b8;
$menu-header-text-transform: uppercase;
$menu-text-color: $color-gray-7;

$nav-bg-color: $color-gray-6;
$nav-content-padding: $body-spacing-medium;
$nav-content-padding-large: $body-spacing-large;
$nav-height: 34px;
$nav-icon-margin: 2px;
$nav-icon-size: 20px;
$nav-item-bg-color-hover: $color-gray-5;
$nav-item-border-bottom-color-active: $color-primary-4;
$nav-item-border-color-hover: transparent;
$nav-item-border-side-color-active: $color-gray-5;
$nav-item-border-horizontal-width: 1px;
$nav-item-border-vertical-width: 2px;
$nav-item-color-active: $text-color;
$nav-item-color-hover: $color-gray-2;
$nav-item-height: $nav-height - ($nav-item-border-vertical-width * 2);
$nav-item-padding: $spacing;
$nav-link-color-hover: $color-gray-7;
$nav-text-color: $color-gray-2;
$nav-text-element-height: $font-size + 2px;
$nav-text-max-width: 700px;
$nav-text-vertical-margin: ($nav-height - $nav-text-element-height) / 2;

$panel-bg-color: $color-gray-6;

$search-box-icon-padding: 5px;
$search-box-icon-size: 20px;
$search-box-max-width: 300px;

$side-nav-bg-color: $body-bg-color;
$side-nav-bg-color-hover: $color-gray-6;
$side-nav-header-text-color: $list-header-text-color;
$side-nav-header-font-size: $list-header-font-size;
$side-nav-header-font-weight: $list-header-font-weight;
$side-nav-header-text-transform: $list-header-text-transform;
$side-nav-max-width: 85%;
$side-nav-padding: $body-spacing-medium;
$side-nav-scrim-bg-color: rgba(0, 0, 0, .50);
$side-nav-text-color: inherit;
$side-nav-width: 220px;

$table-header-border-color: $color-gray-5;
$table-header-font-size: 12px;
$table-header-height: $body-spacing-large;
$table-icon-margin: 5px;
$table-icon-size: 25px;
$table-body-border-color: $color-gray-5;
$table-row-bg-color-hover: $color-gray-6;
$table-row-height: 35px;

$tile-bg-color: $color-gray-7;
$tile-border-color: $color-primary-4;
$tile-border-width: 1px;
$tile-description-font-size: 12px;
$tile-description-line-height: 15px;
$tile-margin: 5px;
$tile-padding: 10px;
$tile-text-color: $color-gray-1;
$tile-title-font-size-large: $font-size-base;
$tile-title-font-size-medium: $font-size-base;
$tile-title-font-size-small: $font-size-large;
$tile-title-margin-bottom-large: 5px;
$tile-title-margin-bottom-medium: 5px;

$tile-avatar-size-large: 100px;
$tile-height-large:
        $tile-avatar-size-large +
        (3 * ($tile-description-line-height + $tile-padding)) +
        (2 * $tile-border-width) +
        $tile-title-font-size-large +
        $tile-title-margin-bottom-large;
$tile-height-medium:
        (2 * ($tile-description-line-height + $tile-padding + $tile-border-width)) +
        $tile-title-font-size-medium +
        $tile-title-margin-bottom-medium;
$tile-height-small: $tile-height-medium;
$tile-height-tiny: $tile-height-medium;
$tile-avatar-size-medium:
        (2 * $tile-description-line-height) +
        $tile-title-font-size-medium +
        $tile-title-margin-bottom-medium;
$tile-avatar-size-small: $tile-height-small - (2 * ($tile-padding + $tile-border-width));
$tile-avatar-size-tiny: $tile-height-tiny - (2 * ($tile-padding + $tile-border-width));
$tile-width-large: 160px;
$tile-width-medium: 240px;
$tile-width-small: 240px;
$tile-width-tiny: $tile-height-small;
