// closed border: #eef2f2
// open border: #dae1e1
// hover border: #01a9e7
// header: #eef2f2
// header hover: #f6f9f8

.ias-accordion-group {
  display: block;
  max-width: 750px;

  > .ias-accordion-link {
    text-align: right;
    margin-bottom: 2px;
  }

  > .ias-accordion {
    border: 1px solid #eef2f2;
    border-radius: 3px;
    margin-bottom: 15px;

    &.ias-open {
      border-color: #dae1e1;
    }

    > .ias-accordion-header {
      align-items: center;
      background-color: #eef2f2;
      border: 1px solid #eef2f2;
      border-radius: 3px;
      color: $color-gray-1;
      display: flex;
      height: 41px;
      padding: 0 15px;

      &:hover {
        cursor: pointer;
        background-color: #f6f9f8;
        border-color: #01a9e7;
      }

      > .ias-icon {
        align-items: center;
        color: $color-gray-1;
        padding-left: 10px;

        &.ias-accordion-icon-toggle {
          color: #01a9e7;
          font-size: 20px;
        }
      }
    }



    > .ias-accordion-content {
      display: block;
      flex: 1 1 auto;
      padding: 15px;
      background-color: white;
      margin: auto;
      border-radius: 0 0 3px 3px;
    }

    &:not(.ias-open) {
      > .ias-accordion-content {
        display: none;
      }
    }
  }
}
