.mf-app-bar {
  align-items: center;
  background: $app-bar-bg-fallback;
  background: $app-bar-bg;
  color: $app-bar-text-color;
  display: flex;
  flex-flow: row nowrap;
  font-size: $app-bar-font-size;
  height: $app-bar-height-small;
  line-height: $app-bar-height-small;
  padding: 0 $body-spacing-small 0 0;

  > .mf-avatar {
    background: no-repeat center center;
    background-size: contain;
    border-radius: 0;
    flex: 0 0 $app-bar-height-small;
    height: 100%;
  }

  > .mf-heading {
    margin-left: $body-spacing-small;
  }

  > .mf-icon-button {
    margin-left: $spacing;
  }

  > .mf-menu {
    @include single-line();

    flex-shrink: 0;
  }

  .mf-icon-button {
    font-size: $app-bar-icon-size;
  }

  button,
  .mf-button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0;

    &:not([disabled]):not(.mf-disabled) {
      &:focus,
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
  }
}

@media (min-width: $large-display) {
  .mf-app-bar {
    height: $app-bar-height-large;
    line-height: $app-bar-height-large;
    padding: 0 $body-spacing-large 0 0;

    > .mf-avatar {
      flex-basis: $app-bar-height-large;
    }

    > .mf-heading {
      margin-left: $body-spacing-large;
    }
  }
}