.mf-app-bar {
  align-items: center;
  background: $app-bar-bg-fallback;
  background: $app-bar-bg;
  color: $app-bar-text-color;
  display: flex;
  flex-flow: row nowrap;
  font-size: $app-bar-font-size;
  max-height: $app-bar-height-large;
  min-height: $app-bar-height-small;
  padding: 0 $body-spacing-small 0 0;

  > .mf-avatar {
    border-radius: 0;

    > img {
      max-height: $app-bar-height-large;
      display: block;
    }
  }

  > .mf-heading {
    margin: 0 $body-spacing-small;
  }

  > .mf-icon-button {
    margin-left: $spacing;
  }

  > .mf-menu {
    @include single-line();

    flex-shrink: 0;
  }

  .mf-icon-button {
    font-size: $app-bar-icon-size;
  }

  .mf-menu {
    button,
    .mf-button {
      background-color: transparent;
      border: none;
      color: inherit;
      font-size: inherit;
      padding: 0 5px;

      &:not([disabled]):not(.mf-disabled) {
        &:focus,
        &:hover {
          background-color: $app-bar-action-color;
          color: inherit;
        }
      }
    }
  }

  .mf-icon-button {

    &:not([disabled]):not(.mf-disabled) {
      &:focus,
      &:hover {
        background-color: $app-bar-action-color;
        color: inherit;
      }
    }

  }

  button,
  .mf-button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0;

    &:not([disabled]):not(.mf-disabled) {
      &:focus,
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
  }
}

[dir="rtl"] {
  .mf-app-bar {
    background: $app-bar-bg-rtl;
    padding: 0 0 0 $body-spacing-small;

    > .mf-heading {
      margin-left: initial;
      margin-right: $body-spacing-small;
    }

    > .mf-icon-button {
      margin-left: initial;
      margin-right: $spacing;
    }
  }
}

@media (min-width: $large-display) {
  .mf-app-bar {
    padding: 0 $body-spacing-large 0 0;

    > .mf-heading {
      margin: 0 $body-spacing-large;
    }
  }

  [dir="rtl"] {
    .mf-app-bar {
      padding: 0 0 0 $body-spacing-large;

      > .mf-heading {
        margin-left: initial;
        margin-right: $body-spacing-large;
      }
    }
  }
}
