button,
.mf-button {
  @include disable-text-selection;
  @include single-line;

  background-color: $button-bg-color;
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: $button-font-size;
  padding: $button-padding;
  text-align: center;
  text-decoration: $button-text-transform;
  vertical-align: middle;

  &.mf-cta {
    background-color: $color-gray-1;
    border-color: $color-gray-1;
    color: $color-gray-7;
  }
  &.mf-cta-disabled {
    background-color: $color-gray-1;
    border-color: $color-gray-1;
    color: $button-text-color-disabled;
    cursor: default;
  }

  &[disabled],
  &.mf-disabled {
    background-color: $button-bg-color-disabled;
    border-color: $button-border-color-disabled;
    color: $button-text-color-disabled;
    cursor: default;
  }

  &:not([disabled]):not(.mf-disabled):not(.mf-cta-disabled) {
    &:focus {
      @include focus-state;
    }

    &:hover {
      background-color: $button-bg-color-hover;
      border-color: $button-border-color-hover;
      color: $button-text-color-hover;
    }
  }

  &.mf-icon-button {
    background-color: transparent;
    border-color: transparent;
    padding: 0;

    &:hover {
      background-color: $button-bg-color-hover;
      border-color: $button-border-color-hover;
      color: $button-text-color-hover;
    }

    .mf-icon, .svg-icon {
      display: block;
    }
  }

  &:not(.mf-icon-button) {
    min-width: $button-min-width;

    > .mf-icon, .svg-icon {
      color: inherit;
      font-size: inherit;
      margin-left: $button-inline-icon-padding;
      vertical-align: middle;
    }
  }
}

a.mf-button {
  margin-left: initial;
}

[dir="rtl"] {
  button,
  .mf-button {

    &:not(.mf-icon-button) {
      > .mf-icon {
        margin-left: initial;
        margin-right: $button-inline-icon-padding;
      }
    }
  }

  a.mf-button {
    margin-right: initial;
  }
}
