button,
.mf-button {
  @include disable-text-selection;
  @include single-line;

  background-color: $button-bg-color;
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: $button-font-size;
  padding: $button-padding;
  text-align: center;
  text-decoration: $button-text-transform;
  vertical-align: middle;

  &[disabled],
  &.mf-disabled {
    background-color: $button-bg-color-disabled;
    border-color: $button-border-color-disabled;
    color: $button-text-color-disabled;
    cursor: default;
  }

  &:not([disabled]):not(.mf-disabled) {
    &:focus {
      @include focus-state;
    }

    &:hover {
      background-color: $button-bg-color-hover;
      border-color: $button-border-color-hover;
      color: $button-text-color-hover;
    }
  }

  &.mf-cta {
    background-color: $button-cta-bg-color;
    border-color: $button-cta-bg-color;
    color: $button-cta-color;

    &[disabled],
    &.mf-disabled {
      background-color: $button-cta-bg-color;
      border-color: $button-cta-bg-color;
      color: $button-text-color-disabled;
    }
  }

  &.mf-icon-button {
    background-color: transparent;
    border-color: transparent;
    padding: 0;

    &:hover {
      background-color: $button-bg-color-hover;
      border-color: $button-border-color-hover;
      color: $button-text-color-hover;
    }

    .mf-icon, .svg-icon {
      display: block;
    }

    &.mf-cta {
      background-color: $button-cta-bg-color;
      color: $button-cta-color;
    }
  }

  &:not(.mf-icon-button) {
    min-width: $button-min-width;

    > .mf-icon, .svg-icon {
      color: inherit;
      font-size: inherit;
      vertical-align: middle;
    }
  }

  &.mf-menu-toggle {
    > .mf-icon, .svg-icon {
      font-size: $button-inline-icon-size;
      margin-left: $button-inline-icon-padding;
    }
  }
}

/* Stop FF buttons from being larger. http://stackoverflow.com/questions/7928521 */
button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

a.mf-button {
  margin-left: 0;
}

[dir="rtl"] {
  button,
  .mf-button {

    &.mf-menu-toggle {
      > .mf-icon, .svg-icon {
        margin-left: 0;
        margin-right: $button-inline-icon-padding;
      }
    }
  }

  a.mf-button {
    margin-right: 0;
  }
}
