button,
.ias-button {
  @include disable-text-selection;
  @include single-line;

  background-color: $button-bg-color;
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: $button-font-size;
  padding: $button-padding;
  text-align: center;
  text-decoration: $button-text-transform;
  vertical-align: middle;

  &[disabled],
  &.ias-disabled {
    background-color: $button-bg-color-disabled;
    border-color: $button-border-color-disabled;
    color: $button-text-color-disabled;
    cursor: default;
  }

  &:not([disabled]):not(.ias-disabled) {
    &:focus {
      background-color: $button-bg-color-hover;
      border-color: $button-border-color-hover;
      color: $button-text-color;
      outline: none;
    }

    &:hover {
      background-color: $button-bg-color-hover;
      border-color: $button-border-color-hover;
      color: $button-text-color-hover;
    }
  }

  &.ias-cta {
    background-color: $button-cta-bg-color;
    border-color: $button-cta-bg-color;
    color: $button-cta-color;

    &[disabled],
    &.ias-disabled {
      background-color: $button-cta-bg-color;
      border-color: $button-cta-bg-color;
      color: $button-text-color-disabled;
    }
  }

  &:not(.ias-icon-button) {
    min-width: $button-min-width;

    > .ias-icon, .svg-icon {
      vertical-align: middle;
    }
  }

  &.ias-menu-toggle {
    > .ias-icon, .svg-icon {
      font-size: inherit;
      margin-left: $button-inline-icon-padding;
    }
  }
}

/* Stop FF buttons from being larger. http://stackoverflow.com/questions/7928521 */
button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

a.ias-button {
  margin-left: 0;
}

[dir="rtl"] {
  button,
  .ias-button {

    &.ias-menu-toggle {
      > .ias-icon, .svg-icon {
        margin-left: 0;
        margin-right: $button-inline-icon-padding;
      }
    }
  }

  a.ias-button {
    margin-right: 0;
  }
}
