@mixin required-state-missing() {
  border-color: $color-accent-4;
}
@mixin warning-message-icon() {
	color: $color-accent-4;
	content: "\e92c";
	font: 22px mf-icons;
	line-height: $font-size-large;
	padding-right: 5px;
	vertical-align: middle;
}
@mixin validate-icon() {
	color: $color-accent-5;
	content: "\e923";
	font: 22px mf-icons;
	line-height: $font-size-large;
	padding-right: 5px;
	vertical-align: middle;
}
@mixin info-hint-icon() {
	color: $color-primary-3;
	content: "\e930";
	font: 22px mf-icons;
	line-height: $font-size-large;
	padding-right: 5px;
	vertical-align: middle;
}

label {
	display: inline-block;
}
span.required {
	color: $color-accent-4;
	font-size: $font-size-medium;
	padding-left: 1px;
	padding-right: 5px;
	position: relative;
	top: 1px;
}

.input-required-missing {
	& input {
		@include required-state-missing;
	}
}
.invalid-message {
	color: $color-accent-4;
	display: none;
	padding-top: 3px;
}

.form-message {
	color: $color-gray-1;
	margin-bottom: 5px;
}
.form-message 
>	span:before {
		@include warning-message-icon;
		vertical-align: middle;
}

i.info-icon:after {
		@include info-hint-icon;
		padding-left: 3px;
}

.input-invalid, .input-invalid-message {
	& i:after {
		@include warning-message-icon;
		padding-left: 3px;
	}

	& input {
		@include required-state-missing;
	}
	
	& .invalid-message {
		display: block;
	}	
}

img.wait-icon {display: none;}

.input-validate {
	&.valid i:after {
		@include validate-icon;
		padding-left: 3px;
	}
	&.validating img.wait-icon {
		display: inline-block;
		padding-left: 3px;
		vertical-align: middle;
		height: 20px;
	}
}
