.ias-required {
  color: $color-accent-4;
}

.ias-form-message {
  margin-bottom: 1rem;

  > * {
    vertical-align: middle;
  }
}

.ias-input-container {
  input {
    &:not(.ias-pristine) {
      &.ias-invalid {
        border-color: $color-accent-4;
      }
    }
  }
}

.ias-input-messages {
  color: $color-accent-4;
  margin-top: 10px;
}

.ias-wait-icon {
  &.ias-small {
    width: 20px;
    height: 20px;
  }
}