input,
select,
textarea {
  background-color: $input-bg-color;
  border: $input-border;
  border-radius: $border-radius;
  color: $color-gray-1;
  font-size: $font-size;
  padding: $input-padding;
  margin: 0;
  margin-right: 5px;
  margin-top: 3px;

  &::-ms-clear {
    display: none;
  }

  &:focus {
    @include focus-state;
  }

  &[disabled] {
    @include disabled-state;
  }
}

label {
  color: $input-label-text-color;
  font-size: $input-label-font-size;
  vertical-align: middle;
  padding-right: 5px;

  &:not(:first-of-type) {
    margin-left: $spacing;
  }

  > input,
  > select,
  > textarea {
    margin-left: $input-inline-label-padding;
  }
}

.mf-input-container {
  &:not(:last-child) {
    margin-bottom: $body-spacing-medium;
  }

  &.mf-inline {
    display: inline-block;
  }

  &.mf-search {
    max-width: $search-box-max-width;
    position: relative;

    > input {
      box-sizing: border-box;
      padding: $input-padding ($search-box-icon-size + (2 * $search-box-icon-padding));
      width: 100%;

      &:focus {
        & ~ .mf-icon,
        & ~ .mf-icon-button {
          color: $focus-text-color;
        }
      }
    }

    > .mf-icon {
      left: $search-box-icon-padding;
    }

    > .mf-icon-button {
      right: $search-box-icon-padding;
    }

    > .mf-icon,
    > .mf-icon-button {
      color: inherit;
      font-size: $search-box-icon-size;
      position: absolute;
      top: 55%;
      transform: translateY(-50%);

      > .mf-icon {
        font-size: inherit;
      }
    }
  }

  > label {
    display: block;
    margin: $input-label-margin;
  }
}

[dir="rtl"] {
  label {
    &:not(:first-of-type) {
      margin-left: initial;
      margin-right: $spacing;
    }

    > input,
    > select,
    > textarea {
      margin-left: initial;
      margin-right: $input-inline-label-padding;
    }
  }

  .mf-input-container {

    &.mf-search {
      > .mf-icon {
        left: initial;
        right: $search-box-icon-padding;
      }

      > .mf-icon-button {
        left: $search-box-icon-padding;
        right: initial;
      }
    }
  }
}
