$mf-input-padding: 8px;

input,
select,
textarea {
  background-color: $input-bg-color;
  border: 1px solid $color-gray-5;
  border-radius: $border-radius;
  color: inherit;
  padding: $mf-input-padding;

  &::-ms-clear {
    display: none;
  }

  &:focus {
    @include focus-state;
  }

  &[disabled] {
    @include disabled-state;
  }
}

label {
  color: $color-gray-2;
  font-size: 12px;
  vertical-align: middle;

  &:not(:first-of-type) {
    margin-left: $spacing;
  }

  > input,
  > select,
  > textarea {
    margin-left: 5px;
  }
}

.mf-input-container {
  &:not(:last-child) {
    margin-bottom: $spacing;
  }

  &.mf-inline {
    display: inline-block;
  }

  &.mf-search {
    position: relative;

    > input {
      padding: $mf-input-padding 30px;

      &:focus {
        & ~ .mf-icon,
        & ~ .mf-icon-button {
          color: $focus-text-color;
        }
      }
    }

    > .mf-icon {
      left: 5px;
    }

    > .mf-icon-button {
      right: 5px;
    }

    > .mf-icon,
    > .mf-icon-button {
      color: inherit;
      font-size: 20px;
      position: absolute;
      top: 6px;

      > .mf-icon {
        font-size: inherit;
      }
    }
  }

  > label {
    display: block;
    margin-bottom: 5px;
    margin-top: $spacing;
  }
}