button,
.mf-button {
  &.mf-icon-button {
    background-color: transparent;
    border-color: transparent;
    padding: 0;

    &:not([disabled]):not(.mf-disabled) {
      &:focus,
      &:hover {
        background-color: $button-bg-color-hover;
        border-color: $button-border-color;
        color: $button-text-color-hover;
      }
    }

    &.mf-cta {
      background-color: $button-cta-bg-color;
      color: $button-cta-color;
    }

    .mf-icon, .svg-icon {
      display: block;
    }
  }

  &.mf-icon-text-button {
    padding: $button-padding-with-icon;

    > span {
      vertical-align: middle;
    }

    > .mf-icon, .svg-icon {
      font-size: $button-inline-icon-size;
      margin-right: $button-inline-icon-padding-with-icon;
    }
  }
}
