@import '../size';

.mf-icon-button {
  @include square($icon-button-size);

  background-color: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  min-width: initial;
  padding: 0;
  position: relative;

  &[disabled],
  &.mf-disabled {
    background-color: transparent;
    border-color: transparent;
  }

  > .mf-icon {
    color: inherit;
    left: -1px;
    position: absolute;
    top: -1px;
  }

  &.mf-cta {
    background-color: $color-gray-1;
    color: $color-gray-7;
  }
}