$icon-button-border-width: 1px;

.mf-icon-button {
  @include square($icon-button-size);

  background-color: transparent;
  border: $icon-button-border-width solid transparent;
  min-width: initial;
  padding: 0;

  &[disabled],
  &.mf-disabled {
    background-color: transparent;
    border-color: transparent;
  }

  > .mf-icon {
    color: inherit;
    font-size: inherit;
    height: 100%;
    line-height: 1em;
    width: 100%;
  }

  &.mf-cta {
    background-color: $button-cta-bg-color;
    color: $button-cta-color;
  }
}