@import '../config';
@import '../size';

$mf-icon-color: $color-gray-4;

$mf-icon-size-small: 24px;
$mf-icon-size-medium: 32px;
$mf-icon-size-large: 40px;

.mf-icon {
  @include square($mf-icon-size-small);

  color: inherit;

  &.mf-medium {
    @include square($mf-icon-size-medium);
  }

  &.mf-large {
    @include square($mf-icon-size-large);
  }
}
