.icon-button-toggle {
  float: right;
  .main {
    background-color: $icon-button-toggle-background-color ;
    border-color: $icon-button-toggle-border-color;
  }
  .ias-icon-view_list_thin {
    color: $icon-button-toggle-view-list;

  }
}

.icon-button-toggle .main {
  background-color: transparent;
  border-color: transparent;
}

[dir="rtl"] {
  .icon-button-toggle {
    float: left;
  }
}