a {
  border-radius: $border-radius;
  color: $link-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  text-decoration: none;

  &.mf-link-no-highlight {
    color: $link-text-color-no-highlight;
  }

  &.mf-link-standalone {
    line-height: $link-standalone-line-height;

    & + a {
      margin-left: $link-spacing;
    }
  }

  &:focus {
    @include focus-state;
  }

  &:hover {
    background-color: $link-bg-color-hover;
    color: $link-text-color-hover;
  }
}

.mf-link-margin {
  margin-left: $link-spacing;
}

.mf-tabset a {
  height: $link-standalone-line-height;
  line-height: $link-standalone-line-height;
  margin-top: $tabset-link-top-margin;
}

.mf-tile a:hover {
  background-color: $body-bg-color;
}

[dir="rtl"] {
  a.mf-link-standalone + a {
    margin-left: 0;
    margin-right: $link-spacing;
  }

  .mf-link-margin {
    margin-left: 0;
    margin-right: $link-spacing;
  }
}