a {
  border-radius: $border-radius;
  color: $link-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: $link-padding;
  text-decoration: none;

  &.link-left-margin {
    margin-left: 5px;
  }

  &.mf-obscure {
    color: #808080;
  }

  &.mf-disabled {
    background-color: $link-bg-color-disabled;
    color: $link-text-color-disabled;
    cursor: default;
  }

  &:not(.mf-disabled) {
    &:focus {
      @include focus-state;
    }

    &:hover {
      background-color: $link-bg-color-hover;
      color: $link-text-color-hover;
    }
  }
}

.mf-tile a:hover {
  background-color: $body-bg-color;
}