a {
  border-radius: $border-radius;
  color: $link-text-color;
  padding: $link-padding;
  text-decoration: none;

  + a, &.mf-link-margin {
    margin-left: $link-spacing;
  }

  &.mf-link-no-highlight {
    color: $link-text-color-no-highlight;
  }

  &:focus {
    @include focus-state;
    text-decoration: none;
  }

  &:hover {
    background-color: $link-bg-color-hover;
    color: $link-text-color-hover;
    text-decoration: none;
  }
}

p, span {
  a {
    padding: 0;
    margin: 0;
  }
}

[dir="rtl"] {
  a {
    + a, &.mf-link-margin {
      margin-left: initial;
      margin-right: $link-spacing;
    }
  }
}
