.mf-menu {
  color: inherit;
  display: inline-block;
  font-size: inherit;
  position: relative;
  max-width: 100%;

  &.mf-open {
    > .mf-menu-content {
      display: block;
      height: auto;
    }
  }

  &.mf-end {
    > .mf-menu-content {
      left: auto;
      right: 0;
    }
  }

  > .mf-menu-content {
    display: none;
    height: 0;
    position: absolute;
  }
}

.mf-menu-content {
  background-color: $menu-bg-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $menu-text-color;
  font-size: $menu-content-font-size;
  left: 0;
  overflow: hidden;
  padding: $spacing;
  right: auto;

  button,
  .mf-button {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: inherit;
    display: block;
    text-align: inherit;
    width: 100%;

    &:not([disabled]):not(.mf-disabled) {
      &:focus,
      &:hover {
        background-color: $menu-bg-color-hover;
        color: inherit;
      }
    }
  }

  .mf-list-header {
    color: $menu-header-text-color;
  }

  .mf-list {
    > li {
      &:hover {
        background-color: $menu-bg-color-hover;
      }
    }
  }

  .mf-border-bottom { border-color: $menu-border-color; }
  .mf-border-left { border-color: $menu-border-color; }
  .mf-border-right { border-color: $menu-border-color; }
  .mf-border-top { border-color: $menu-border-color; }
}