.ias-menu {
  bottom: 0;
  display: none;
  position: absolute;
  left: 0;
  max-width: 100%;
  right: 0;
  top: 0;

  &.ias-open {
    display: inline-block;
  }
}

.ias-menu-content {
  background-color: $menu-background-color;
  border-radius: $border-radius;
  color: $menu-text-color;
  font-size: $menu-content-font-size;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  padding: $spacing;
  position: absolute;
  right: auto;
  z-index: 1;

  .ias-border-bottom,
  .ias-border-top,
  .ias-border-start,
  .ias-border-end {
    border-color: $menu-border-color;
  }

  button,
  .ias-button {
    background-color: transparent;
    border: none;
    border-radius: $border-radius-small;
    box-sizing: border-box;
    color: inherit;
    display: block;
    text-align: inherit;
    width: 100%;

    &:not([disabled]):not(.ias-disabled) {
      &:focus,
      &:hover {
        background-color: $menu-background-color-hover;
        color: inherit;
      }
    }
  }

  .ias-list-header {
    color: $menu-header-text-color;
  }

  .ias-list {
    > li,
    > .ias-list-item {
      @include focus-hover-background($menu-background-color-hover);
    }
  }

  .ias-menu-header,
  .ias-menu-footer {
    @include single-line;

    color: $menu-header-text-color;
    font-size: $menu-header-font-size;
    font-weight: $menu-header-font-weight;
    text-transform: $menu-header-text-transform;
  }

  .ias-menu-footer {
    text-align: center;
  }
}

[dir="rtl"] {
  .ias-menu-content {
    left: auto;
    right: 0;
  }
}
