@import '../text';

.mf-panel {
  background-color: $color-gray-6;
  border-radius: $border-radius;
}

.mf-panel-header {
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  line-height: 30px;
  margin-bottom: 2 * $spacing;

  > .mf-title {
    padding: 0;
    margin: 0;
  }
}