.ias-status-message {
  background-color: $status-message-bg-color;
  border: 1px solid $status-message-border-color;
  border-radius: $border-radius;
  box-sizing: border-box;

  margin: $status-message-margin 0;
  max-width: $status-message-max-width;
  padding: $status-message-padding;
  width: 100%;

  p {
    color: $status-message-body-text-color;
    margin: $status-message-body-margin;
    font-size: $status-message-body-text-size;
  }
}

.ias-error { color: $status-color-error; }
.ias-info { color: $status-color-info; }
.ias-ok { color: $status-color-ok; }
.ias-warn { color: $status-color-warn; }

.ias-status-message-title {
  align-items: center;
  color: $status-message-text-color;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;

  > .ias-icon {
    margin-right: $status-message-icon-margin;
  }
}

[dir="rtl"] {
  .ias-status-message-title {
    .ias-icon {
      margin-left: $status-message-icon-margin;
      margin-right: 0;
    }
  }
}
