table {
  border-collapse: collapse;
  text-align: left;

  > thead {
    border-bottom: 1px solid $table-header-border-color;
    color: $color-gray-4;
    font-size: $table-header-font-size;

    .mf-icon {
      font-size: inherit;
      vertical-align: middle;
    }
  }

  > tbody {
    > tr {
      vertical-align: middle;

      &:not(:last-child) {
        border-bottom: 1px solid $table-body-border-color;
      }

      &:hover {
        background-color: $table-row-bg-color-hover;

        > .mf-actions {
          > .mf-icon-button {
            opacity: 1;
          }
        }
      }

      > .mf-actions {
        > .mf-icon-button {
          opacity: 0;

          &:focus {
            opacity: 1;
          }
        }
      }
    }
  }

  td, th {
    padding: 0 $spacing;

    > a {
      padding: 0;

      &:not(.mf-disabled) {
        &:hover {
          background-color: transparent;
        }
      }
    }

    > a,
    > .mf-icon {
      vertical-align: middle;
    }

    > .mf-icon {
      &:first-child {
        margin-right: $table-icon-margin;
      }
    }
  }

  tr {
    height: $table-row-height;
    vertical-align: middle;
  }

  .mf-icon,
  .mf-icon-button {
    font-size: $table-icon-size;
  }
}