.mf-tabset {
  align-items: left;
  color: $nav-text-color;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: $body-spacing-medium;
  max-width: 100%;
  overflow: hidden;
  padding-top: 2px;
  padding-right: 15px;
  position: relative;
  height: 28px;
}

.mf-tab-base {
  border-bottom: 1px solid $color-gray-3;
  position: absolute;
  top: 29px;
  left: 0;
  width: 100%;
}

.mf-tab {
  &:first-child {
    margin-left: 10px;
  }

  @extend .mf-border-tabs;
  background-color: $color-gray-7;
  color: $text-color;
  margin-right: 5px;
  min-width: 60px;
  padding: $body-spacing-xsmall $body-spacing-small;
  text-align: center;

  &:not([disabled]):not(.mf-disabled):not(.mf-cta-disabled):not(.mf-selected) {
    &:focus {
      @include focus-state;
    }

    &:hover {
      background-color: $button-bg-color-hover;
      border-color: $button-border-color-hover;
      color: $button-text-color-hover;
      cursor: pointer;
    }
  }

  &[disabled],
  &.mf-disabled {
    opacity: $disabled-opacity;
    cursor: default;
  }

  &.mf-selected {
    color: $color-gray-1;
    cursor: default;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    background-color: white;
    border-color: $color-gray-4;
    border-bottom: 4px solid white;
    z-index: 100;
  }
}



