table {
  border-collapse: collapse;
  text-align: left;

  > thead {
    border-bottom: 1px solid $table-header-border-color;
    color: $color-gray-4;
    font-size: $table-header-font-size;
	  
	  th { 
		font-weight: normal;
		  padding: $body-spacing-xsmall $spacing;
	  	}
	  
    .ias-icon {
      font-size: inherit;
      vertical-align: middle;
    }
  }

  > tbody {
    > tr {
      vertical-align: middle;

      &:not(:last-child) {
        border-bottom: 1px solid $table-body-border-color;
      }

      &:hover {
        background-color: $table-row-bg-color-hover;

        > .ias-actions {
          > .ias-icon-button {
            opacity: 1;
          }
        }
      }

      > .ias-actions {
        > .ias-icon-button {
          opacity: 0;

          &:focus {
            opacity: 1;
          }
        }
      }
    }
  }

  td, th {
    padding: 0 $spacing;

    > a {
      padding: 0;

      &:not(.ias-disabled) {
        &:hover {
          background-color: transparent;
        }
      }
    }

    > a,
    > .ias-icon {
      vertical-align: middle;
    }

    > .ias-icon {
      &:first-child {
        margin-right: $table-icon-margin;
      }
    }
  }

  tr {
    height: $table-row-height;
    vertical-align: middle;
  }

  .ias-icon,
  .ias-icon-button {
    font-size: $table-icon-size;
  }
}

[dir="rtl"] {
  table {
    text-align: right;

    td, th {
      > .ias-icon {
        &:first-child {
          margin-left: $table-icon-margin;
          margin-right: initial;
        }
      }
    }
  }
}