
.ias-tabset {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: $tabset-margin-bottom;
  max-width: 100%;
  overflow: hidden;
  padding: 0 $tabset-padding;
  position: relative;
  height: $tabset-height;

  &::after {
    border-bottom: 1px solid $tabset-bottom-border-color;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.ias-tab {
  @extend .ias-border-tabs;
  @include single-line;

  background-color: $tabset-tab-bg-color;
  margin-right: $tabset-tab-margin;
  min-width: $tabset-tab-min-width;
  padding: $tabset-tab-padding;
  text-align: center;

  &:focus,
  &:hover {
    background-color: $tabset-tab-bg-color-hover;
    border-color: $tabset-tab-border-color-hover;
    color: $tabset-tab-text-color-hover;
    cursor: pointer;
    outline: none;
  }

  &[disabled],
  &.ias-disabled {
    color: $tabset-tab-text-color-disabled;

    &:hover {
      @extend .ias-border-tabs;
    }
  }

  &.ias-active,
  &[disabled],
  &.ias-disabled {
    cursor: default;
  }

  &.ias-active {
    background-color: $tabset-tab-bg-color-selected;
    border-color: $tabset-tab-border-color-selected;
    z-index: 1;
  }
}

.ias-tab-pane {
  display: none;

  &.ias-open {
    display: block;
  }
}

[dir="rtl"] {
  .ias-tab {
    margin-left: $tabset-tab-margin;
    margin-right: 0;
  }
}