.ias-tile {
  @extend .ias-panel;

  border: $tile-border-width solid transparent;
  color: $tile-text-color;
  cursor: pointer;
  font-size: $tile-description-font-size;
  line-height: $tile-description-line-height;
  position: relative;

  // STATES
  &:focus {
    @include focus-state;
  }

  &:hover {
    @include hover-state;
    color: $tile-text-color;
  }

  // SIZES
  &.ias-tiny {
    height: $tile-height-tiny;
    max-width: $tile-width-tiny;
    width: $tile-width-tiny;

    > .ias-avatar {
      height: $tile-avatar-size-tiny;
      width: $tile-avatar-size-tiny;
    }

    > .ias-icon {
      font-size: $tile-avatar-size-tiny;
    }

    > .ias-tile-content {
      display: none;
    }
  }

  &.ias-small {
    display: flex;
    flex-flow: row nowrap;
    height: $tile-height-small;
    width: $tile-width-small;

    > .ias-avatar {
      height: $tile-avatar-size-small;
      width: $tile-avatar-size-small;
    }

    > .ias-icon {
      font-size: $tile-avatar-size-small;
    }

    > .ias-tile-content {
      margin: $tile-padding $tile-padding $tile-padding 0;

      > :not(h3) {
        display: none;
      }

      > h3 {
        font-size: $tile-title-font-size-small;
        line-height: $tile-avatar-size-small;
      }
    }
  }

  &.ias-medium {
    display: flex;
    flex-flow: row nowrap;
    height: $tile-height-medium;
    width: $tile-width-medium;

    > .ias-avatar {
      flex: 0 0 $tile-avatar-size-medium;
      height: $tile-avatar-size-medium;
      width: $tile-avatar-size-medium;
    }

    > .ias-icon {
      font-size: $tile-avatar-size-medium;
    }

    > .ias-tile-content {
      margin: $tile-padding $tile-padding $tile-padding 0;
      height: $tile-avatar-size-medium;
      overflow: hidden;

      > h3 {
        font-size: $tile-title-font-size-medium;
        line-height: 1em;
        margin-bottom: $tile-title-margin-bottom-medium;
      }
    }
  }

  &.ias-large {
    display: flex;
    flex-flow: column nowrap;
    height: $tile-height-large;
    max-width: $tile-width-large;
    text-align: center;
    width: $tile-width-large;

    > .ias-avatar,
    > .ias-icon {
      margin: $tile-padding auto;
    }

    > .ias-avatar {
      flex: 0 0 $tile-avatar-size-large;
      height: $tile-avatar-size-large;
      width: $tile-avatar-size-large;
    }

    > .ias-icon {
      font-size: $tile-avatar-size-large;
    }

    > .ias-tile-content {
      margin: 0 $tile-padding $tile-padding $tile-padding;
      overflow: hidden;

      > h3 {
        font-size: $tile-title-font-size-large;
        line-height: 1em;
        margin-bottom: $tile-title-margin-bottom-large;
      }
    }
  }

  > .ias-avatar {
    margin: $tile-padding;
  }

  > .ias-icon {
    margin: $tile-padding;
  }

  > .ias-actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  > .ias-tile-content {
    > h3,
    > p {
      margin: 0;
      padding: 0;
    }
  }

  a:hover {
    background-color: $body-bg-color;
  }
}

[dir="rtl"] {
  .ias-tile {
    &.ias-small {
      > .ias-tile-content {
        margin: $tile-padding 0 $tile-padding $tile-padding;
      }
    }

    &.ias-medium {
      > .ias-tile-content {
        margin: $tile-padding 0 $tile-padding $tile-padding;
      }
    }

    > .ias-actions {
      left: 0;
      right: initial;
    }
  }
}