.ias-grid {
  display: flex;
  flex-flow: row wrap;

  > .ias-tile {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $tile-margin;
    margin-bottom: $tile-margin;
    vertical-align: top;
  }

  &.ias-stacked {
    display: block;

    > .ias-tile {
      width: auto;

      &:not(:last-child) {
        margin-bottom: $tile-margin;
      }
    }
  }
}

[dir="rtl"] {
  .ias-grid {
    > .ias-tile {
      margin-left: $tile-margin;
      margin-right: initial;
    }
  }
}
