.mf-grid {
  display: flex;
  flex-flow: row wrap;

  > .mf-tile {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $tile-margin;
    margin-bottom: $tile-margin;
    vertical-align: top;
  }

  &.mf-list {
    display: block;

    > .mf-tile {
      width: auto;

      &:not(:last-child) {
        margin-bottom: $tile-margin;
      }
    }
  }
}
