button,
mf-button,
.button {
  background-color: #f6f9f8;
  border: 1px solid #dae1e1;
  border-radius: 3px;
  color: #434c50;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  min-width: 40px;
  padding: 5px 10px;
  text-align: center;

  &:hover {
    color: #1773bb;
    border: 1px solid #28a9e1;
  }
}