tile-documentation {
  .ias-tile {
    margin-bottom: 5px;
  }
}

.ias-tile.ias-medium > .ias-tile-content {
   height: 55px;
 }

.ias-tile.ias-large > .ias-tile-content {
  height: 79px;
  margin-bottom: 5px;
}
