.ias-dialog {
  position: absolute;
}

.component-dialog {
  position: relative;
  height: 300px;
}

.ias-dialog-container {
  max-width: 750px;
}

.ias-dialog .ias-dialog-container {
  border: none;
}