@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slidein {
  from { left: -100%; }
  to   { left: 0; }
}

@keyframes slidein-rtl {
  from { right: -100%; }
  to   { right: 0; }
}
