.ias-border-1 {
  border: 1px solid $color-gray-5;
  border-radius: $border-radius;
}

.ias-border-1-small {
  border: 1px solid $color-gray-5;
  border-radius: $border-radius-small;
}

.ias-border-2 {
  border: 1px solid $color-gray-6;
  border-radius: $border-radius;
}

.ias-border-tabs {
  border: 1px solid $color-gray-5;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

@mixin ias-border() {
  &.ias-border-bottom {
    border-bottom: 1px solid;
    border-color: inherit;
  }
  &.ias-border-top {
    border-top: 1px solid;
    border-color: inherit;
  }
}

@mixin ias-border-ltr() {
  &.ias-border-start {
    border-left: 1px solid;
    border-color: inherit;
  }
  &.ias-border-end {
    border-right: 1px solid;
    border-color: inherit;
  }
}

@mixin ias-border-rtl() {
  &.ias-border-start {
    border-right: 1px solid;
    border-color: inherit;
  }
  &.ias-border-end {
    border-left: 1px solid;
    border-color: inherit;
  }
}