// BORDERS
$border-radius: 3px;

// COLORS
$color-gray-1: #434c50;
$color-gray-2: #59656A;
$color-gray-3: #626e72;
$color-gray-4: #808080;
$color-gray-5: #dae1e1;
$color-gray-6: #eef2f2;
$color-gray-7: #f6f9f8;

$color-primary-1: #1773bb;
$color-primary-2: #007cd0;
$color-primary-3: #0088ce;
$color-primary-4: #28a9e1;
$color-primary-5: #01a9e7;

$color-accent-1: #ffd92d;
$color-accent-2: #fff6ce;

// DISPLAY SIZE
$large-display: 769px;

// SPACING
$body-spacing-small: 1em;
$body-spacing-large: 1.7em;
$spacing: 10px;

// TYPOGRAPHY
$font-family: 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial, san-serif;
$font-base-size: 14px;
