.ias-content-padding {
  padding: $content-padding;
}

.ias-column,
.ias-row {
  border-color: inherit;
}


.ias-row {
  @include ias-border();

  display: flex;
  flex-flow: row;

  > * {
    flex: none;
  }

  > .ias-column {
    flex: 1 1;
  }
}

.ias-column {
  @include ias-border();
}

.ias-fill {
  flex-grow: 1;
}

[dir="ltr"] {
  .ias-align-start { text-align: left; }
  .ias-align-end { text-align: right; }

  .ias-row {
    @include ias-border-ltr();
  }

  .ias-column {
    @include ias-border-ltr();
  }
}

[dir="rtl"] {
  .ias-align-start { text-align: right; }
  .ias-align-end { text-align: left; }

  .ias-row {
    @include ias-border-rtl();
  }

  .ias-column {
    @include ias-border-rtl();
  }
}
