
@import 'text';

@mixin mf-border($color) {
  &.mf-border-bottom { border-bottom: 1px solid $color; }
  &.mf-border-left { border-left: 1px solid $color; }
  &.mf-border-right { border-right: 1px solid $color; }
  &.mf-border-top { border-top: 1px solid $color; }
}

.mf-align-start { text-align: left; }
.mf-align-end { text-align: right; }

.mf-content-padding {
  padding: $content-padding;
}

.mf-row {
  @include mf-border($border-color);

  display: flex;
  flex-flow: row;

  > * {
    flex: none;
  }

  > .mf-column {
    flex: 1 1;
  }
}

.mf-column {
  @include mf-border($border-color);
}

.mf-fill {
  flex-grow: 1;
}
