@import 'config';

@mixin borders() {
  &.mf-border-bottom { border-bottom: 1px solid $color-gray-2; }
  &.mf-border-left { border-left: 1px solid $color-gray-2; }
  &.mf-border-right { border-right: 1px solid $color-gray-2; }
  &.mf-border-top { border-top: 1px solid $color-gray-2; }
}

@mixin alignment() {
  &.mf-align-start { text-align: left; }
  &.mf-align-end { text-align: right; }
}

.mf-row {
  @include alignment();
  @include borders();

  display: flex;
  flex-flow: row;

  > * {
    flex: none;
  }

  > .mf-column {
    flex: 1 1;
  }
}

.mf-column {
  @include alignment();
  @include borders();
}

.mf-fill {
  flex-grow: 1;
}