@import 'text';
@import 'animations';
@import 'border';
@import 'layout';
@import 'size';
@import 'states';
@import 'type';
@import 'components/accordion-control';
@import 'components/app-bar';
@import 'components/avatar';
@import 'components/button';
@import 'components/comment';
@import 'components/dialog';
@import 'components/form-field';
@import 'components/form-validation';
@import 'components/icon';
@import 'components/icon-button';
@import 'components/link';
@import 'components/list';
@import 'components/menu';
@import 'components/nav';
@import 'components/page';
@import 'components/panel';
@import 'components/side-nav';
@import 'components/tab';
@import 'components/table';
@import 'components/tile';
@import 'components/tile-grid';

body {
  background-color: $body-bg-color;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: normal;
}

p {
	font-size: $font-size-base;
	line-height: $font-size-medium;
}