@mixin disabled-state() {
  cursor: default;
  opacity: 0.4;
  outline: none;
}

@mixin focus-state() {
  background-color: $focus-bg-color;
  border-color: $focus-border-color;
  color: $focus-text-color;
  outline: none;
}

@mixin focus-hover-background($background-color) {
  &:focus,
  &:hover {
    background-color: $background-color;
  }
}
