/* Version %VERSION% */

@import 'config';
@import 'layout';
@import 'text';
@import 'type';
@import 'components/app-bar';
@import 'components/button';
@import 'components/form-field';
@import 'components/icon';
@import 'components/icon-button';
@import 'components/link';
@import 'components/menu';
@import 'components/nav';
@import 'components/table';

body {
  font-family: $font-family;
  font-size: $font-base-size;
  font-weight: normal;
}