.ias-tags {
  p {
    font-size: 12px;
    display: inline-flex;
  }
  button:not(.ias-icon-button) {
    min-width: 20px;
    display: inline-flex;
    position: relative;
  }
  button:not(.ias-icon-button) > .ias-icon {
    position: absolute;
    line-height: 15%;
    font-size: 17px;
    transform: translateX(-8.5px) translateY(-1px);
    color: #434c50;
  }
  button:not(.ias-icon-button) > .ias-icon:hover {
    color: #01a9e7;
  }

  button:not([disabled]):not(.ias-disabled):hover {
    background-color: #f6f9f8;;
    border: 1px solid #01a9e7;
  }
  .ias-tag:focus, .ias-tag:hover {
    background-color: #eef2f2;
    border: 1px solid #01a9e7;
    outline: none;
  }
}

.ias-tag {
  border: 1px solid transparent;
  color: #434c50;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  margin-right: 2px;
  min-height: 20px;
  padding: 3px 8px 3px 8px;
  position: relative;
  background-color: #eef2f2;
  border-radius: 3px;
  box-sizing: content-box;
}

.ias-tag-action {
  border: 1px solid transparent;
  color: #434c50;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  margin-right: 2px;
  min-height: 20px;
  padding: 3px 3px 3px 8px;
  position: relative;
  background-color: #eef2f2;
  border-radius: 3px;
  box-sizing: content-box;
}

.ias-tag-multi {
  border: 1px solid transparent;
  color: #434c50;
  cursor: pointer;
  min-height: 20px;
  background-color: #eef2f2;
  border-radius: 3px;
  box-sizing: content-box;
  margin-top: 5px;
  margin-right: 2px;
  padding: 3px;
  display: inline-block;
  line-height: 15px;
  position: relative;
}

.ias-tag-content-multi {
  display: inline-block;
}

.tag-text {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.tag-text-action {
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

