kitchen-sink {
  display: block;
  height: 100%;
  overflow: auto;
}

.kitchen-sink-content {
  overflow: auto;
}

.kitchen-sink-content section {
  margin-bottom: 24px;
}

.kitchen-sink-content section > section {
  vertical-align: top;
  max-width: 100%;
}

.kitchen-sink-content h2 {
  text-transform: uppercase;
}

.kitchen-sink-content > #app-bars .ias-app-bar,
.kitchen-sink-content > #navs .ias-nav {
  margin-bottom: 24px;
}

.kitchen-sink-content > #dialogs > section {
  height: 300px;
  position: relative;
}

.kitchen-sink-content > #dialogs .ias-dialog {
  position: absolute;
}

.kitchen-sink-content > #dialogs .ias-dialog-container {
  width: 300px;
}

.kitchen-sink-content > #dialogs p {
  margin: 0;
  padding: 0;
}

.kitchen-sink-content > #grids .grid-tiny {
  width: 240px;
}

.kitchen-sink-content > #grids .grid-small {
  width: 500px;
}

.kitchen-sink-content > #grids .list-small {
  width: 300px;
}

.kitchen-sink-content > #grids .grid-medium {
  width: 500px;
}

.kitchen-sink-content > #grids .list-medium {
  width: 300px;
}

.kitchen-sink-content > #grids .grid-large {
  width: 350px;
}

.kitchen-sink-content > #grids > section,
.kitchen-sink-content > #icon-buttons > section,
.kitchen-sink-content > #links > section,
.kitchen-sink-content > #lists > section,
.kitchen-sink-content > #menus > section,
.kitchen-sink-content > #panels > section {
  display: inline-block;
  margin-right: 10px;
}

.kitchen-sink-content > #lists .ias-list,
.kitchen-sink-content > #panels .ias-panel {
  width: 300px;
}

.kitchen-sink-content > #menus > section,
.kitchen-sink-content > #navs {
  min-height: 310px;
}

.kitchen-sink-content > #side-navs > section {
  height: 300px;
  margin-bottom: 24px;
  position: relative;
}

.kitchen-sink-content > #tiles .ias-tile {
  display: inline-flex;
  vertical-align: top;
}

.kitchen-sink-content > #tiles .ias-tile > .ias-actions {
  color: #007cd0;
}

.kitchen-sink-content > #tiles .ias-tile:not(:last-child) {
  margin-bottom: 5px;
}

[dir="rtl"] .kitchen-sink-content > #grids > section,
[dir="rtl"] .kitchen-sink-content > #icon-buttons > section,
[dir="rtl"] .kitchen-sink-content > #links > section,
[dir="rtl"] .kitchen-sink-content > #lists > section,
[dir="rtl"] .kitchen-sink-content > #menus > section,
[dir="rtl"] .kitchen-sink-content > #panels > section {
  margin-left: 10px;
  margin-right: initial;
}
